    
        body{
            
            color: white;
            background-image: url("http://www.solofondos.com/wp-content/uploads/2015/11/21omxpw.jpg");
          
        }

        header{
            
            margin-top: 60px;
            text-align: center;
        }


        header h1{
            padding: 5px;
            text-align: center;
            display: inline;
            font-size: 60px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }

        .cambio{
            color: royalblue;
        }

        footer{
            background-color: #d64a4a;
            margin: 0;
            bottom: 0px;
            left: 0px;
            position: relative;
            text-align: center;
            padding: 5px;
            
        }

        .tarjeta{
            background-color: rgb(46, 39, 39);
            margin: 10px;
            padding: 20px;
            text-align: center;
        }

        .tarjeta h2{
            margin-top: 0;
        }

        .tarjeta p{
            margin: 10px;
        }



        /* ------------------DESCRIPCION-------------------- */
        .descripcion{
            background-color: rgb(46, 39, 39);
            padding: 60px;
            margin-bottom: 20px;
        }

        .descripcion h2{
            display: inline;
            padding: 5px;
            margin-top: 0;
            font-size: 60px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .descripcion p{
            margin: 10px;
            text-align: center;
            font-size: 20px;
            font-family:'Courier New', Courier, monospace;
            text-align: justify;
        }

        /* ---------------DESCRIPCION----------------------- */



        #p-proyectos{
            display: block;
        }

        .p-content{
            display: inline;
        }

        .descripcion a{  
            text-decoration: none;
            color: #4CAF50;
            font-size: 20px;
            font-family:'Courier New', Courier, monospace;
        }

        .descripcion a:hover{  
            color: #075e0a;
        }


        .first:hover{
            color: #d64a4a;
            cursor:default;
        }

        .first {
            padding-top: 100px;
        }




        /* ------------------BARRA DE NAVEGACION-------------------- */

        .blog ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            position: fixed; /* posicion fija, deja el menu arriba */
            top: 0px;
            left: 0px;
            width: 100%;
            background-color: #333;
            height: 44px;
        }
  
        .blog li{
            float: left;
        }
  
        .blog a{
            display: block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
  
        }

        .flexbox {
            align-items: center;
            display: flex;
            height: 44px;
          }
  
        .blog li:hover{
            background-color: rgb(0,0,0,0.3);
        }
  
        .activo {
            background-color: #4CAF50;
        }
  

        /* ------------------MENU DROPDOWN -------------------- */

        .dropdown{
            position: fixed;
            display: inline-block;
            top: 0px;
            right: 0px;
            
        }

        /* tapamos para que ls links no se vean, a no ser que pasemois el mouse por arriba */
        .contenido-dropdown{
            display: none;
            position: absolute; /*es referente al padre que tiene*/
            background-color: #4CAF50;
            box-shadow: 0px 8px, 16px rgba(0,0,0,0.2);
            

        }

        .contenido-dropdown a{
            color: rgb(138, 123, 123);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            
            
            
        }

        .contenido-dropdown a:hover{
            color: white;
        }


        .boton-dropdown{
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            height: 44px;
            width: 200px;
            
            
        }

        .boton-dropdown:hover{
            background-color: #165719;
        }

        .dropdown:hover .boton-dropdown{
            background-color: #165719;
        }
        

        .dropdown:hover .contenido-dropdown{
            display: block;
            width: 200px;
        }

        .contenido-dropdown a:hover{
            background-color: #165719;
        }


        /* EXPERIENCIA LABORAL - EDUCACION */
        .row {
            margin-top: 40px;
        }

        .empleo a{
            font-family:Georgia, 'Times New Roman', Times, serif
        }

    
        .empleo p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 17px;
        }

        .empleo p:first-child{
            color: #d64a4a;
            
        }

        .empleo p:last-child{
            color: royalblue;
            
        }

        .list-group-item-action:hover{
            color: white;
            background-color: royalblue;
        }


        /* Stack de tecnologias */

        ul.list-inline.dev-icons {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .idiomas p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 20px;
        }


